.Left-side {
  width: 300px;
  background-color: #253141;
  &__header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
  }
  &__items-room {
    height: 20px;
    width: 260px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  .items-room__name {
    font-size: 16px;
    font-weight: bold;
  }
  .items-room__icon {
    display: flex;
    list-style: none;
  }
  &__btn {
    color: white;
    text-decoration: none;
  }
  &__btn--edit {
    margin-right: 5px;
  }

  &__main-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
  }
  &__chat-room {
    color: white;
    padding: 20px 0 40px;
  }
  &__group {
    font-size: 15px;
    }
  &__message {
    font-size: 11px;
    margin-top: 5px;
  }
}